sphinx
sphinxcontrib-napoleon
xlrd
posix_ipc
boltons
cerberus
cffi
collections-extended
coverage
cryptography
cython
flask
inflect
ipython
jinja2
lxml
lz4
matplotlib
mistune
msgpack
nose
openpyxl
paramiko
psycopg2-binary
pyarrow
pyparsing
python-dateutil
python-levenshtein
pyyaml
requests
scipy
sqlalchemy
squarify
tables
tabulate
zmq
