pylint==2.5.2
boltons
cerberus
cffi
collections-extended
coverage
cryptography
cython
faker
flask
inflect
ipython
jinja2
lxml
lz4
matplotlib
mistune
msgpack
nose
openpyxl
paramiko
posix_ipc
psycopg2-binary
pyarrow
pyparsing
python-dateutil
python-levenshtein
pyyaml
requests
scipy
sphinx
sphinxcontrib-napoleon
sqlalchemy
squarify
tables
tabulate
tqdm
xlrd
zmq
