collections_extended
cffi
cryptography
cython
inflect
jinja2
mistune==0.8.4
pyarrow
pylint==2.5.2
pyparsing
pytest
pytest-cov
python-dateutil
pyyaml
reportlab
requests
sqlalchemy>=1.4.46,<2.0
squarify
tabulate
tqdm
xlrd
zmq
